/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #0077b6;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 3em;
}

.titulo {
  font-size: 1.2em;
  margin-top: 10px;
  font-weight: 300;
}

section {
  margin: 30px 0;
}

section h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #0077b6;
}

ul {
  list-style-type: none;
}

li {
  margin: 20px 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p {
  font-size: 0.9em;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  header h1 {
    font-size: 2em;
  }

  section h2 {
    font-size: 1.5em;
  }
}
